nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(62, 172, 187);
    color: #333
}

.menu {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}